<html>

<head>
    <link href="css/materialize.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="fonts/Source.ttf" rel="stylesheet">
</head>

<body>
    <nav background-color: "#fdfdfd">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo left">
                <img id="imgLogo" src="img/menu.png">
              
                <br>
            </a>
         <div style="text-align: center;">
                <a class="options" href="listaImovel"><img class="logo" src="img/imovel.png">Imovel</a>
                <a class="options" href="listaCorretor"><img class="logo" src="img/corretor.png">Corretor</a>
        
    </nav>

    

</body>

</html>